body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../Imgcbf/planocerto.jpg);
      background-size: cover;
     background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
.conteudo-principal{
  margin: 20px;
  text-align: center;
}
.meu-time{
    margin: 24px;
    list-style-type: square;
    color: white;
    font-size: 24px;
     background-color: rgba(0, 0, 0, 0.274);
}
p{
    font-size: 24px;
    color: white;
      background-color: rgba(0, 0, 0, 0.274);
}
h1{
    font-size: 40px;
    color: rgb(0, 195, 255);
}
h3{
    font-size: 32px;
    color: rgb(0, 238, 255);
}
h2{
    font-size: 36px;
    color: rgb(0, 195, 255);
}
.imgnormal{
    height: auto;
    width: 1000px;
   
}
.imgescudo2{
   height: auto;
   width: 100px;

}
.imgescudo{
    height: auto;
    width: 24px;
}
.conteudo-lista{
    color: whitesmoke;
    font-size: 24px;
      background-color: rgba(0, 0, 0, 0.274);
}
a{
    font-size: 24px;
    color: rgb(219, 233, 20);
}
table{
    border: 5px double rgb(0, 97, 13);
  border-collapse: collapse; /* Mescla as bordas */
  width: 100%;
    
}
td, th,tr {
  border-left: 5px solid rgb(0, 80, 13); /* Adiciona a borda à esquerda de cada célula */
  
}
th{
    color: rgb(100, 237, 237);
}
.dadoslista{
    color: rgb(241, 124, 28);
}
