body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(Imgeuro/planofundo2.webp);
      background-size: cover;
     background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    cursor: url(Img/Manchester\ City\ FC.cur),auto;

}
.conteudo-principal{
  margin: 20px;
  text-align: center;
}
.meu-time{
    margin: 24px;
    list-style-type: square;
    color: white;
    font-size: 24px;
     background-color: rgba(0, 0, 0, 0.274);
}
p{
    font-size: 24px;
    color: white;
      background-color: rgba(0, 0, 0, 0.274);
}
h1{
    font-size: 40px;
    color: aqua;
}
h3{
    font-size: 32px;
    color: aquamarine;
}
h2{
    font-size: 36px;
    color: cyan;
}
.imgnormal{
    height: auto;
    width: 1000px;
   
}
.imgescudo{
    height: auto;
    width: 24px;
}
.conteudo-lista{
    color: whitesmoke;
    font-size: 24px;
      background-color: rgba(0, 0, 0, 0.274);
}
a{
    font-size: 24px;
    color: rgb(20, 233, 204);
}
#copabrasil{
    color: chartreuse;
}
footer{
    font-size: 36px;
}
#eu{
    font-size: 36px;
}
#rodape{
    color: aqua;
}
